:host {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
}

.header {
  display: flex;
  gap: 2rem;
  align-items: center;

  .weather-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-size: 1.1rem;

    img {
      width: 64px;
      height: 64px;
    }
  }
}

.details {
  font-size: 1.1rem;
  display: flex;
  gap: 2rem;
  align-items: flex-start;

  & > div {
    padding: 0 1rem;
    border-radius: 1rem;
    background-color:  var(--bg-color-secondary);
  }
}

@media (max-width: 560px) {
  .details {
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
  }
}
