:host {
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--bg-color-secondary);
  display: flex;

  app-search-field {
    flex: 1 1 100%;
  }

  .settings {
    padding: 1rem;
  }
}
