<header>
  <app-search-field
    (searchTextChange)="onSearchTextChange($event)"
  ></app-search-field>

  <div class="settings">
    <button (click)="onDarkThemeSwitch()">Dark mode</button>
  </div>
</header>

<ng-container *ngIf="isLoading$ |async; else weatherVisualization">
  <div class="loading-section">
    <img src="assets/loading.svg" alt="Loading..."/>
    Loading...
  </div>
</ng-container>

<ng-template #weatherVisualization>
<app-weather-visualization></app-weather-visualization>
</ng-template>
